/* * {
    border: 1px solid blue;
} */

:root{
    --accent-color1: rgb(201, 8, 42);
    --accent-color2: rgb(23, 64, 139);
    --line-color: rgb(255, 255, 255);
}

body{
    background: url('../img/hardwood.jpg');
    /* http://terrasseenboise.blogspot.com/2016/05/basketball-floor-texture.html */
    background-repeat: repeat;
}
h1 {
    margin: 0.25em auto 0.2em auto;
    color: var(--accent-color2);
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 6vh;
}
/* Main Sections */
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.nav-menu-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin: 1em;
}
.nav-menu-container > * {
    padding: 0.5em;
    text-align: center;
    font-size: 3vh;
    flex-grow: 1;
    border: 1px solid white;
    color: var(--line-color);
    opacity: 0.7;
}
.nav-menu-container > *:hover {
    opacity: 1;
    background: url('../img/basketball-texture.jpg');
    background-size: cover;
}
.player-comparison, .about-info {
    background: var(--accent-color2);
}
.player-team {
    background: var(--accent-color1);
}
.input-container {
    width: 90%;
    /* height: 20vh; */
}
.game-area-container {
    width: 90%;
    /* height: 60vh; */
}

/* Matching Game Inputs */
.player-form {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid white;
}
.player-form > * {
    padding: 0.5em;
    font-size: 2vh;
}
.player-select-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid white;
}
.player-select-bottom > *{
    padding: 0.5em;
}
.player-selected-list {
    margin: 0;
}
.player-selected-list > li {
    font-size: 3vh;
}
.match-option-buttons {
    display: flex;
    flex-flow: column wrap;
}
.match-option-buttons > button {
    padding: 0.5em;
    font-size: 2vh;
    margin: 0.1em 0.1em;
}
.player-selected-container {
    flex-basis: 75%
}



/* Tweaks to the Autocomplete CSS */
.ui-helper-hidden-accessible{
    display: none;
}
.ui-autocomplete {
    background: #87ceeb;
    z-index: 2;
}

/* Matching Game Sections */
.player-options-container {
    height: 19%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}
.player1-option, .player2-option {
    flex-basis: 30%;
    text-align: center;
    font-size: 3vh;
}
.player1-option {
    background-color: rgba(243, 45, 45, 1);
    color: white;
}
.player2-option {
    background-color: rgba(46, 50, 243, 0.8);
    color: white;
}
.player-stats-container {
    /* height: 79%; */
    display: flex;
    flex-flow: row nowrap;
}
.player-name-drop{
    height: 2em;
    border: 1px solid white;
}
.headshot-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.headshot-image-real {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.player1-stats-container, .player2-stats-container{
    flex-basis: 50%;
    border: 1px solid white;
}
.stat-1 {
    border-top: 1px solid white;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* Matching Game Animations */
.ui-state-hover {
    /* background: yellow; */
    animation-name: yellow-pulse;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}
@keyframes yellow-pulse {
    0% {background-color: ''}
    50% {background-color: rgba(255,220,0,0.8)}
    100% {background-color: ''}
}
.name-bounce {
    animation: bounce 3s 1
}

@keyframes bounce{
    0%   { 
        transform: translateY(-120px); 
        animation-timing-function: ease-in;
    }
    27%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    40%  { 
        transform: translateY(-50px);
        animation-timing-function: ease-in;
    }
    54%  { 
        transform: translateY(0px); 
        animation-timing-function: ease-out;
    }
    60%  { 
        transform: translateY(-25px);
        animation-timing-function: ease-in;
    }
    66%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    70% { 
        transform: translateY(-12.5px);
        animation-timing-function: ease-in;
    }
    76%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    80% { 
        transform: translateY(-7.5px);
        animation-timing-function: ease-in;
    }
    86%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    90%  { 
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    95%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    98%  { 
        transform: translateY(-2px);
        animation-timing-function: ease-in;
    }
    100%  { 
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
} /*  idea from:https://codepen.io/gxash/pen/QNzKoj. Used for reference: https://www.youtube.com/watch?v=PyJZEFIyTrs */

/* Modal For End Condition */
.modal {
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 999; 
    display: none;
    width: 100%;
}
.modal-text-area {
	background-color: white;
	/* height: 40vh;
	width: 80vw; */
	border-radius: 2px;
	margin: 100px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	/* Adds shadow to the box and makes it look more 3D */
	padding: 2%;
    line-height: 3.5em;
    width: 80%;
}

/* Team Guess Game */
.conference-select{
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
}
.conference-select > div{
    flex-basis: 50%;
    text-align: center;
    padding: 1em 0;
    z-index: 99;
    color: white;
    font-size: 2vh;
}
.eastern-conf {
    background-color: var(--accent-color1);
}
.western-conf {
    background-color: var(--accent-color2);
}
.conf-button-pressed {
    box-shadow: inset 0px 0px 22px black;
}
.team-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 4px solid var(--line-color);
}
.team-container > * {
    width: 30%;
    height: 10vh;
    border: 1px solid white;
}
.team-input {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.team-input > div {
    flex-basis: 49%;
    flex-grow: 1;
    padding: 0.75em 0.7em;
    box-sizing: border-box;
    
    border: 3px solid var(--accent-color2);
    background: white;
    
    color: var(--accent-color1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    
}
.team-player-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 13vh;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.team-player-name {
    flex-grow: 2;
    width: 35%;
    box-sizing: border-box;
    padding: 2vh 1.5vh;
    text-align: center;
    font-size: 5vw;
    border-right: 3px solid var(--line-color);
    color: var(--accent-color2);
    font-family: Arial, Helvetica, sans-serif;
}
.team-player-image > img{
    clip-path: inset(0px 0px 56px 0px);
    max-width: 88%;
} 

/* Browser less than 400px */
@media only screen and (max-width: 400px) {
    .team-player-image > img{
        clip-path: inset(0px 0px 45px 0px);
    }
    .player1-option, .player2-option {
        font-size: 2vh;
    }

}
@media only screen and (max-width: 450px) {
    .input-container {
        /* height: 25vh; */
    }
    .player-form {
        justify-content: center;
    }
    .player-select-bottom {
        flex-flow: row wrap;
        justify-content: center;
    }
    .player-form > * {
        padding: 0.5em;
        font-size: 2vh;
        width: 49%
    }
    .player-form > *[type='submit'] {
        width: 35%
    }
    .match-option-buttons > button {
        padding: 0.5em;
        font-size: 2vh;
    }
    .player-selected-list > li {
        font-size: 1.3em;
    }
    .match-option-buttons {
        flex-flow: row wrap;
    }
    .player1-option, .player2-option {
        font-size: 2.5vh;
    }
    
}



@media only screen and (min-width: 1024px) {
    .team-player-image > img{
        clip-path: inset(0px 0px 56px 0px);
        max-width: 100%;
    } 
    .input-container {
        width: 80%;
        /* height: 17vw; */
    }
    .team-player-container {
        /* width: 90%; */
        height: 10vw;
    }
    .game-area-container {
        width: 80%;
    }
    .team-player-name{
        flex-grow: 1;
        flex-basis: 30%;
        box-sizing: border-box;
        padding: 2vh 1.5vh;
        text-align: center;
        font-size: 5vw;
    }
    .team-container > * {
        width: 20%;
        height: 18vh;
        box-sizing: border-box;
    }
    .east-team:hover {
        border: 5px solid var(--accent-color1);
    }
    .west-team:hover {
        border: 5px solid var(--accent-color2);
    }
    .team-input > div {
        flex-basis: 49%;
        box-sizing: border-box;
        padding: 0.75em 0.7em;
        font-size: 2vw;
        text-align: center;
    }
    .conference-select > div{
        font-size: 2vw;
    }

    /* Horizontal Layout for Player Comp (Matching) Game */
    .player-stats-container {
        display: flex;
        flex-flow: column nowrap;
    }
    .player1-stats-container,.player2-stats-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .headshot-image {
        margin: 0;
    }
    .headshot-image-real {
        margin: 0;
    }
    .player-name-drop {
        height: 4vh;
        order: 99;
        width: 100%;
    }
    .stat-box {
        flex-grow: 1;
        padding: 0.5em 0 0 0.8em;
    }
    .stat-1 {
        border-top: 0px solid white;
        border-left: 1px solid white;
    }
    .stat-box li{
        font-size: 3vh;
        color: green;
    }
    .stat-box .main-stat{
        font-size: 4vh;
        color: red;
    }
    .player-options-container > div {
        font-size: 3vh;
    }
    .player-selected-container {
        flex-basis: 70%;
    }
    .match-option-buttons {
        flex-grow: 1;
    }

}

@media only screen and (min-width: 1300px) {
    .team-player-image > img{
        clip-path: inset(0px 0px 66px 0px);
        max-width: 100%;
    } 
}