* {
    border: 1px solid blue;
}
body{
    background: url('../img/hardwood.jpg');
    /* http://terrasseenboise.blogspot.com/2016/05/basketball-floor-texture.html */
    background-repeat: repeat;
}
h1{
    margin: 0.25em auto 0.2em auto;
}
/* Main Sections */
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.nav-menu-container {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    align-items: center;
}
.nav-menu-container > * {
    padding: 0.5em;
    text-align: center;
    font-size: 1.2em;
    flex-grow: 1;
}
.nav-menu-container > div > a {
    color: black;
    text-decoration: none;
}
/* .player-team {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 33%;
    width: 33%
} */
.input-container {
    width: 90%;
    height: 20vh;
}
.game-area-container {
    width: 90%;
    height: 60vh;
}

/* Matching Game Inputs */
.player-select-bottom {
    display: flex;
    flex-flow: row, nowrap;
}
.player-selected-container {
    flex-basis: 75%
}
.match-option-buttons {
    display: flex;
    flex-flow: column wrap;
}
/* Hiding the autocomplete info that is added */
.ui-helper-hidden-accessible{
    display: hidden;
}

/* Matching Game Sections */
.player-options-container {
    height: 19%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.player1-option, .player2-option {
    flex-basis: 30%;
    text-align: center;
}
.player1-option {
    background-color: rgba(243, 45, 45, 1);
    color: white;
}
.player2-option {
    background-color: rgba(46, 50, 243, 0.8);
    color: white;
}
.player-stats-container {
    height: 79%;
    display: flex;
    flex-flow: row nowrap;
}
.player-name-drop{
    height: 2em;
}
.headshot-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.headshot-image-real {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.player1-stats-container, .player2-stats-container{
    flex-basis: 50%;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Modal For End Condition */
.modal {
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 999; 
    display: none;
    width: 100%;
}
.modal-text-area {
	background-color: white;
	/* height: 40vh;
	width: 80vw; */
	border-radius: 2px;
	margin: 100px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	/* Adds shadow to the box and makes it look more 3D */
	padding: 2%;
    line-height: 3.5em;
    width: 80%;
}

/* Team Guess Game */
.conference-select{
    display: flex;
    flex-flow: row nowrap;
}
.conference-select > div{
    flex-basis: 50%;
    text-align: center;
    padding: 1em 0;
    z-index: 99;
    color: white;
    font-size: 2vh;
}
.eastern-conf {
    background-color: rgb(214, 60, 60);
}
.western-conf {
    background-color: rgb(54, 82, 238);
}
.team-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.team-container > * {
    width: 30%;
    height: 10vh;
    /* background: url("../img/teams/atl-hawks.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.team-input {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.team-input > div {
    flex-basis: 49%;
    box-sizing: border-box;
    padding: 0.75em 0.7em;
    font-size: 2vh;
}
.team-player-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 13vh;
}
.team-player-name {
    /* background: url(https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/1626245.png); */
    /*     background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -20%; */
    flex-grow: 2;
    width: 35%;
    box-sizing: border-box;
    padding: 2vh 1.5vh;
    text-align: center;
    font-size: 5vw;
}
.team-player-image > img{
    clip-path: inset(0px 0px 56px 0px);
    max-width: 88%;
} 

/* Browser less than 400px */
@media only screen and (max-width: 400px) {
    .team-player-image > img{
        clip-path: inset(0px 0px 45px 0px);
    }
}
@media only screen and (min-width: 1050px) {
    .team-player-image > img{
        clip-path: inset(0px 0px 56px 0px);
        max-width: 100%;
    } 
    .input-container {
        width: 90%;
        height: 17vw;
    }
    .team-player-container {
        width: 90%;
        height: 10vw;
    }
    .team-player-name{
        flex-grow: 1;
        flex-basis: 30%;
        box-sizing: border-box;
        padding: 2vh 1.5vh;
        text-align: center;
        font-size: 5vw;
    }
    .team-input > div {
        flex-basis: 49%;
        box-sizing: border-box;
        padding: 0.75em 0.7em;
        font-size: 2vw;
    }
    .conference-select > div{
        font-size: 2vw;
    }
}